  {% extends "DJMainBundle::layout.html.twig" %}
  {% block stylesheet %}
   {#  <link rel="stylesheet" href={{ asset('bundles/djmain/css/slider/bjqs.css') }} type='text/css'>
    <link rel="stylesheet" href={{ asset('bundles/djmain/css/slider/demo.css') }} type='text/css'> #}
    <link rel="stylesheet" href={{ asset('bundles/djmain/css/slider/smoothbox.css') }} type='text/css'>
  {% endblock %}
{% block titlePage %}Gallery{% endblock titlePage %}
    {% block bodyAttributes %} id="bigWrapper" data-spy="scroll" data-target=".navbar-default" data-offset="100"{% endblock %}
{% block body %}
    <section id="portfolio" class="gallery-block">
        <div class="portfolioIntro text-center">
            <div class="black-overlay"></div>
        </div>
        <div class="portfolioFilters text-center">
            <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                <span>{% if galleryName %} {{ galleryName }} {% endif %} </span>
            </h2>
            <div id="filters">
                {% if gallery_list|length > 1 %}
                    <button class="btn btn-default btn-white" data-filter="*" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">Show All</button>
                    {% for galleryFilter in gallery_list %}
                        <button class="btn btn-default btn-white" data-filter=".{{ galleryFilter }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after 0.3s">{{ galleryFilter }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="gallery js-isotope" data-isotope-options='{ "itemSelector": ".gallery-inner", "masonry": { "columnWidth": ".grid-sizer" } }'>
            <!--grid sizer for columns to be used in the data-isotope-options-->
            <div class="grid-sizer"></div>
            {% for media in gallery %}
             <!--item -->
                <div class="gallery-inner {{ media.name }}">
                    <!-- caption -->
                    <div class="caption text-center">
                        <div class="captionWrapper valign hidden-xs hidden-sm">
                            <a class="sb overlay-ajax" href="{% path media.media, media.media.format %}" data-toggle="modal" >
                                <div class="caption-heading">
                                    <h4>{{ media.media.name }}</h4>
                                    <div class="btn btn-default btn-white">{{ 'gallery.gallery.button.preview' | trans }}</div>
                                </div>
                            </a>
                        </div>
                        <img alt="{{ media.media.name }}" class="galleryImage" src="{% path media.media, media.media.format %}">
                    </div>
                    <!-- end caption -->
                </div>
            <!--end item -->
            {% endfor %}
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
        '@DJMainBundle/Resources/public/js/modernizr.custom.js'
        '@DJMainBundle/Resources/public/js/smoothbox.min.js'
        '@DJMainBundle/Resources/public/js/overlay.js' output='js/compiled/gallery_main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}
 {% endblock javascripts %}
