{% extends "DJMainBundle::layout.html.twig" %}

{% block stylesheet %}
    {% stylesheets
            '@DJMainBundle/Resources/public/css/slider/smoothbox.css'
            filter='?uglifycss'
            filter='cssrewrite'
            output='css/smoothbox.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block titlePage %}Gallery{% endblock titlePage %}
{% block bodyAttributes %} id="bigWrapper" data-spy="scroll" data-target=".navbar-default" data-offset="100"{% endblock %}
{% block body %}
    {% block intro %}
        {% if galleryName %}  {% set galleryName = galleryName %}  {% else %} {% set galleryName = 'gallery' %}  {% endif %}
        {{ sonata_block_render({ 'type': 'dj.main.block.intro_section' },{
            'title': galleryName,
            'image_url': '/img/default/galleryIntro.jpg',
            }) }}
    {% endblock intro %}
    <section id="portfolio" class="gallery-block">
        <div class="portfolioFilters text-center">
            <div id="filters">
                {% if gallery_list %}
                    <button class="btn btn-default btn-white" data-filter="*" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">Show All</button>
                    {% for galleryFilter in gallery_list %}
                        <button class="btn btn-default btn-white" data-filter=".{{ galleryFilter|lower|replace({' ':'-'}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after {{ 0.3 + (loop.index/10)}}s">{{ galleryFilter }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="gallery js-isotope" data-isotope-options='{ "itemSelector": ".gallery-inner", "masonry": { "columnWidth": ".grid-sizer" } }'>
            <!--grid sizer for columns to be used in the data-isotope-options-->
            <div class="grid-sizer"></div>
            {% for media in gallery %}
             <!--item -->
                <div class="gallery-inner {{ media.name|lower|replace({' ':'-'}) }}">
                    <!-- caption -->
                    <div class="caption text-center">
                        <div class="captionWrapper valign hidden-xs hidden-sm">
                            <a class="sb overlay-ajax" href="{% path media.media, media.media.format %}" data-toggle="modal" >
                                <div class="caption-heading">
                                    <h4>{{ media.media.name }}</h4>
                                    <div class="btn btn-default btn-white">{{ 'gallery.gallery.button.preview' | trans }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end caption -->
                    <img alt="{{ media.media.name }}" class="galleryImage" src="{% path media.media, media.media.format %}">
                </div>
            <!--end item -->
            {% endfor %}
        </div>
    </section>
{% endblock body %}

{% block javascript %}
  {% javascripts
        '@DJMainBundle/Resources/public/js/modernizr.custom.js'
        '@DJMainBundle/Resources/public/js/smoothbox.min.js'
        '@DJMainBundle/Resources/public/js/overlay.js'
        filter='?uglifyjs2'
        output='js/gallery.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}
 {% endblock javascript %}
