{% extends "DJMainBundle::layout.html.twig" %}
{% block titlePage %}Welcome{% endblock titlePage %}
{% block body %}
    {% block intro %}
        {{ sonata_block_render({ 'type': 'dj.main.block.intro_section' },{
            'title_style':'text',
            'title' : 'denca &amp; kubo',
            'video' : true,
            'comment': ('index.main.paragraph.one' | trans) ~ "<br>" ~ ('index.main.paragraph.two' | trans)
        }) }}
    {% endblock intro %}
    <section id="welcome-separator">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-6 hidden-xs image" >
                    <div class="whiteOverlay"></div>
                    {% if pool['secondary'].media %}
                        {% media pool['secondary'].media, 'medium' with {'alt': 'background'} %}
                    {% else %}
                       <img src={{ asset('bundles/djmain/img/backgroundWelcome.jpg') }} alt="background">
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 textOverlay text-center">
                    <h1 data-scroll-reveal="enter right move 10px over 1s after 0.2s">{{ 'index.welcome.main' | trans}}</h1>
                    <img src={{ asset('bundles/djmain/img/separatorBlack.png') }} class="img-responsive center-block separator" alt="separator">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                        {{ 'index.welcome.paragraph' | trans }}
                    </p>
                    <br>
                    <a data-scroll href={{ path('dj_blog_main') }} class="btn btn-default btn-black">{{ 'index.blog.button' | trans}}</a>
                </div>
            </div>
        </div>
    </section>
    <section id="text-separator">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">{{ 'index.about.main'| trans}}</h2>
                    <img src={{ asset('bundles/djmain/img/lineSeparatorWhite.png') }} class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
                       {{ 'index.about.paragraph' | trans| escape }}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}