    {% if category_posts is empty %}
    {% else %}
        {% if category_posts | length == 1 and current_post in category_posts | keys  %}
        {% else %}
            <div class="widgetList widget">
                <h4 class="montserrat">{{ blog.sidebar.related | trans }}</h4>
                <div class="blogPostSeparator"></div>
                <ul class="list">
                    {% for post in category_posts %}
                        {% if post.slug != current_post %}
                            <li><a href={{ path('blog_post',{'category':current_category,'post':post.slug}) }}>{{ post.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
    {% endif %}


{% if categories is empty %}
{% else %}
    {% if categories | length == 1 and current_category in categories | keys %}
    {% else %}
        <div class="widgetList widget">
            <h4 class="montserrat">{{ 'blog.sidebar.categories' | trans }}</h4>
            <div class="blogPostSeparator"></div>
            <ul class="list">
                {% for category in categories %}
                    {% if current_category != category.slug %}
                        <li><a href={{ path('blog_category',{'category':category.slug}) }}>{{ category.name }}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    {% endif %}
{% endif %}

