{% extends "DJMainBundle::layout.html.twig" %}
{# {% block header %} {% block navigation %} {{ parent() }} {% endblock %} {% endblock header %} #}
{% block titlePage %}Blog{% endblock titlePage %}
{% block body %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="pricing">
    <div class="container">

        <h1 class="parallaxLetter letter1" data-stellar-ratio="1.2" data-stellar-vertical-offset="-200">P</h1>
        <h1 class="parallaxLetter letter2" data-stellar-ratio="0.8">H</h1>

        <!--header-->
        <div class="row sectionIntro">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span>Blog it</span>
                </h2>
                <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                    Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally journey wishing not several behaved chapter she two sir.
                </p>

                <img src={{ asset('bundles/djmain/img/separatorBlack.png') }} class="img-responsive center-block separator" alt="separator">

            </div>
        </div>
        <!--end header-->


        <h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">N</h1>
        <h1 class="parallaxLetter letter4" data-stellar-ratio="0.3">X</h1>

        <!--content-->
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                    <div class="subscriptionName">
                        <h2>Brazil</h2>
                    </div>
                    <img class="separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionPrice">
                        <h2>40$</h2><p> /month</p>
                    </div>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>


                    <img class=" separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionList">
                        <ul>
                            <li>Customer Support 24/7</li>
                            <li>Lifetime Updates</li>
                            <li>10GB Cloud Storage</li>
                            <li>10 E-mail boxes</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <a class="btn btn-default btn-black" href="#">Explore it</a> <br> or
                    <a href="#">Subscribe!</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="tableWrapper" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                    <div class="subscriptionName">
                        <h2>Argentina</h2>
                    </div>

                    <img class="separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionPrice">
                        <h2>60$</h2><p> /month</p>
                    </div>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>

                    <img class=" separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionList">
                        <ul>
                            <li>Customer Support 24/7</li>
                            <li>Lifetime Updates</li>
                            <li>10GB Cloud Storage</li>
                            <li>10 E-mail boxes</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <a class="btn btn-default btn-black" href="#">Explore it</a> <br> or
                    <a href="#">Subscribe!</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="tableWrapper" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                    <div class="subscriptionName">
                        <h2>Peru</h2>
                    </div>

                    <img class="separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionPrice">
                        <h2>80$</h2><p> /month</p>
                    </div>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>


                    <img class=" separator center-block img-responsive" src={{ asset('bundles/djmain/img/separatorBlack.png') }} alt="Dotted Separator">

                    <div class="subscriptionList">
                        <ul>
                            <li>Customer Support 24/7</li>
                            <li>Lifetime Updates</li>
                            <li>10GB Cloud Storage</li>
                            <li>10 E-mail boxes</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <a class="btn btn-default btn-black" href="#">Explore it</a> <br> or
                    <a href="#">Subscribe!</a>
                </div>
            </div>
        </div>

        <!--end content-->
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock body %}
{% block javascript %}
    <script src="{{ asset('bundles/djmain/js/okvideo.min.js') }}"></script>
         <script>
            $(function(){
                "use strict";

                //if mobile device, replace video background with background image (video background is restricted on mobile devices)
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    $.backstretch('bundles/djmain/img/background1.jpg');
                }

                else{
                    // $.okvideo({
                    //     video: 'http://www.youtube.com/watch?v=rBmMzabdEKQ',  // enter here the url of your vimeo or youtube video
                    //     autoplay: true,
                    //     loop: true,
                    //     highdef: false,
                    //     hd: true,
                    //     adproof: true,
                    //     volume: 10 // video volume value from 0 (mute) to 100
                    // })
                }
            });



        </script>
{% endblock javascript %}
