{% extends "DJMainBundle:Blog:blog_layout.html.twig" %}
{% block intro %}
    <div class="col-md-12 text-center">
        <img src={{ asset('bundles/djmain/img/separatorWhite.png') }} class="img-responsive center-block separator" alt="separator">
    </div>
{% endblock intro %}
{% block content %}
    <div class="blogPost3">

    <div class="post-thumbnail">
        {% if post.media %}
           {% media post.media, 'big' with {'class':'img-responsive'}  %}
        {% else %}
            <img class="img-responsive" src={{ asset('bundles/djmain/img//gallery/1.jpg') }} alt="image">
        {% endif %}
    </div>

    <div class="post-content">
        <div class="post-title">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="post-info">
            <div class="postBy">
                <p><i class="fa fa-pencil"></i> Posted by {{ post.author }} on {{ post.created | date }}</p>
            </div>
        </div>
        <img src={{ asset('bundles/djmain/img/lineSeparatorBlack.png') }} class="img-responsive blogSeparator" alt="separator">
        {% block blogContent %}
            {{- post.content | raw -}}
        {% endblock %}
    </div>


    //////////// Paginator //////////////////////////////

{% set max_posts = posts | length %}
{% set items_per_page = 1 %}
{% set paginationCurrentPage = 1 %}
{% for p in posts if p.real_id == post.id %}
    {% set paginationCurrentPage = p.id %}
{% endfor %}
{% set paginationRouteName  = 'blog_post' %}
{# {% set paginationTotal = max_posts/items_per_page | round %} #}
{% set paginationLastPage = max_posts %}
{# {% set paginationExtremePagesLimit = max_posts - 3 %}
{% set paginationNearbyPagesLimit = max_posts - 2 %} #}

<hr>
{% for p in posts %}
   <div class="test">post name: {{ p.name }}</div>
{% endfor %}


{% if paginationLastPage > 1 %}
    {# {% if not paginationExtremePagesLimit %}
        {% set paginationExtremePagesLimit = 3 %}
    {% endif %}
    {% if not paginationNearbyPagesLimit %}
        {% set paginationNearbyPagesLimit = 2 %}
    {% endif %} #}
    <hr><br><br>
        <div class="row">
            {% if paginationCurrentPage > 1 %}
                <div class="col-xs-6">
                    <a class="btn btn-default btn-black" href="{{ path(paginationRouteName, { page: paginationCurrentPage-1, post : posts[paginationCurrentPage-1].slug, category: category.slug }) }}">&lt; Previous</a>
                </div>
{#                 <li><a href="{{ path(paginationRouteName, { page:1, post : posts[1].slug, category: category.slug }) }}">&laquo;</a></li>
                <li><a href="{{ path(paginationRouteName, { page: paginationCurrentPage-1, post : posts[paginationCurrentPage-1].slug, category: category.slug }) }}">&lsaquo;</a></li> #}
            {% endif %}

            {% if paginationCurrentPage < paginationLastPage %}
                <div class="col-xs-6 text-right pull-right">
                    <a class="btn btn-default btn-black" href="{{ path(paginationRouteName, { page: paginationCurrentPage+1, post : posts[paginationCurrentPage+1].slug, category: category.slug }) }}">Next &gt;</a>
                </div>
                {# <li><a href="{{ path(paginationRouteName, { page: paginationCurrentPage+1, post : posts[paginationCurrentPage+1].slug, category: category.slug }) }}">&rsaquo;</a></li>
                <li><a href="{{ path(paginationRouteName, { page: paginationLastPage, post : posts[paginationLastPage].slug, category: category.slug }) }}">&raquo;</a></li> #}
            {% endif %}
        </div>

    <div style="clear: both"></div>
{% endif %}





</div>
{% endblock content %}
{% block sidebar %}
    {{ include('DJMainBundle:Blog:partials/blog_sidebar.html.twig', { 'categories': categories, 'current_category': category.slug, 'category_posts': posts, 'current_post':post.slug }) }}
{% endblock sidebar %}



